.result {
    @include adap(padding-top, 90, 60, 60);
    @include adap(padding-left, 165, 40, 15);
    @include adap(padding-right, 165, 40, 15);
    @include adap(padding-bottom, 90, 60, 60);
    background: #EBEBEB;
    &__row-items {
        @include adap(margin-bottom, 90, 40, 60);
        display: flex;
        @include adap(gap, 30, 30, 20);
        justify-content: space-between;
    }
    &__item {
        @include adap(padding-top, 20);
        display: flex;
        align-items: center;
        @include adap(gap, 30, 0, 30);
        border-top: solid #C0C0C0;
        @include adap(border-top-width, 1);
        &-img {
            img {
                @include adap(width, 160, 150, 130);
            }
        }
        &-name {
            @include adap(font-size, 18, 18, 16);
            line-height: 150%;
            color: #666;
        }
        &-label {
            @include adap(font-size, 18, 18, 16);
            line-height: 150%;
        }
    }
    &__main {
        display: flex;
        align-items: center;
        @include adap(gap, 30, 30, 20);
        &-img {
            align-self: flex-start;
            img {
                @include adap(width, 730, 330, 290);
                height: auto;
            }
        }
        &-name {
            @include adap(margin-bottom, 20, 20, 14);
            @include adap(font-size, 40, 30, 24);
            color: #666;
        }
        &-description {
            @include adap(font-size, 18, 18, 16);
            line-height: 170%;
        }
    }
}

@media (max-width: 1023px) {
    .result {
        &__item {
            align-items: self-start;
            flex-direction: column;
        }
    }
}


@media (max-width: 767px) {
    .result {
        &__main {
            flex-direction: column;
        }
    }
}

@media (max-width: 575px) {
    .result {
        &__row-items {
            flex-direction: column;
        }
        &__item {
            flex-direction: row;
            align-items: center;
        }
    }
}
