.intro {
    @include adap(padding-top, 130, 65, 50);
    @include adap(padding-left, 165, 40, 15);
    @include adap(padding-right, 165, 40, 15);
    @include adap(padding-bottom, 130, 65, 50);
    @include adap(max-height, 640, 640, 328);
    overflow: hidden;
    position: relative;
    &__title {
        @include adap(margin-bottom, 30, 30, 15);
        @include adap(font-size, 60, 50, 30);
        color: #4C5866;
    }
    &__description {
        @include adap(margin-bottom, 30, 30, 15);
        @include adap(width, 445, 390, 170);
        @include adap(font-size, 18, 18, 14);
        line-height: 150%;
    }
    &__button {
        @include adap(height, 70, 70, 50);
        @include adap(width, 255, 255, 144);
        @include adap(font-size, 20, 20, 18);
        border: solid #7875FE;
        @include adap(border-width, 1);
        background-color: initial;
        color: #7875FE;
        transition: all 0.2s linear;
        &:hover {
            background: #7875FE;
            color: #FFF;
        }
        &:focus {
            background: #DAD9FB;
            color: #7875FE;
        }
        &:active {
            background: #4946B4;
            color: #FFF;
        }
    }
    &__img {
        position: absolute;
        @include adap(right, 165, 40, 15);
        @include adap(top, 60, 60, 20);
        @include adap(width, 540, 270, 130);
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 575px) {
    .intro {
        &__description {
            width: 100%;
        }
        &__img {
            display: none;
        }
    }
    
}