@import "mixins/adaptive";
@import "null-style";
@import "Header/header";
@import "Intro/intro";
@import "Result/result";
@import "Material/material";
@import "Book/book";

@font-face {
    font-family: 'R4';
    src: url('../public/fonts/Roboto-Regular.eot') format('embedded-opentype'),
        url('../public/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../public/fonts/Roboto-Regular.woff') format('woff'),
        url('../public/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'R5';
    src: url('../public/fonts/Roboto-Medium.eot') format('embedded-opentype'),
        url('../public/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../public/fonts/Roboto-Medium.woff') format('woff'),
        url('../public/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

a, p, h1, h2, h3, h4, h5, h6, button, input {
    font-family: 'R4';
    font-size: 18px;
    color: #85859B;
}