* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.header__top-block {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
}
@media (min-width: 1440px) {
  .header__top-block {
    padding-left: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__top-block {
    padding-left: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__top-block {
    padding-left: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__top-block {
    padding-left: 15px;
  }
}
@media (min-width: 1440px) {
  .header__top-block {
    padding-right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__top-block {
    padding-right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__top-block {
    padding-right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__top-block {
    padding-right: 15px;
  }
}
@media (min-width: 1440px) {
  .header__top-block {
    height: 5.5555555556vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__top-block {
    height: calc(40px + 40 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__top-block {
    height: calc(40px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__top-block {
    height: 40px;
  }
}
.header__bottom-block {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DDD;
}
@media (min-width: 1440px) {
  .header__bottom-block {
    padding-left: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__bottom-block {
    padding-left: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__bottom-block {
    padding-left: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__bottom-block {
    padding-left: 15px;
  }
}
@media (min-width: 1440px) {
  .header__bottom-block {
    padding-right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__bottom-block {
    padding-right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__bottom-block {
    padding-right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__bottom-block {
    padding-right: 15px;
  }
}
.header__logo {
  margin-right: auto;
}
@media (min-width: 1440px) {
  .header__logo img {
    height: 1.5277777778vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__logo img {
    height: calc(22px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__logo img {
    height: calc(22px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__logo img {
    height: 22px;
  }
}
@media (min-width: 1440px) {
  .header__logo img {
    width: 9.7222222222vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__logo img {
    width: calc(140px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__logo img {
    width: calc(140px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__logo img {
    width: 140px;
  }
}
.header__links {
  display: flex;
}
@media (min-width: 1440px) {
  .header__links {
    margin-right: 4.1666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__links {
    margin-right: calc(60px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__links {
    margin-right: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__links {
    margin-right: 60px;
  }
}
@media (min-width: 1440px) {
  .header__links {
    gap: 4.1666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__links {
    gap: calc(40px + 20 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__links {
    gap: calc(0px + 40 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__links {
    gap: 0px;
  }
}
@media (min-width: 1440px) {
  .header__links-item {
    font-size: 1.3888888889vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__links-item {
    font-size: calc(20px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__links-item {
    font-size: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__links-item {
    font-size: 20px;
  }
}
.header__links-item:focus {
  color: #4C5866;
  background-color: #DAD9FB;
}
.header__links-item:hover {
  color: #7875FE;
}
.header__links-item:active {
  color: #4946B4;
  background-color: initial;
}
.header__icons {
  display: flex;
}
@media (min-width: 1440px) {
  .header__icons {
    gap: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__icons {
    gap: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__icons {
    gap: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__icons {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .header__search img {
    height: 1.6666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__search img {
    height: calc(24px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__search img {
    height: calc(24px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__search img {
    height: 24px;
  }
}
@media (min-width: 1440px) {
  .header__search img {
    width: 1.6666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__search img {
    width: calc(24px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__search img {
    width: calc(24px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__search img {
    width: 24px;
  }
}
@media (min-width: 1440px) {
  .header__log-in img {
    height: 1.6666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__log-in img {
    height: calc(24px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__log-in img {
    height: calc(24px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__log-in img {
    height: 24px;
  }
}
@media (min-width: 1440px) {
  .header__log-in img {
    width: 1.6666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .header__log-in img {
    width: calc(24px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .header__log-in img {
    width: calc(24px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .header__log-in img {
    width: 24px;
  }
}
.header__burger {
  height: 20px;
  width: 24px;
}
.header__burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header__burger-button span {
  height: 2px;
  width: 100%;
  background-color: #4C5866;
}

@media (max-width: 1023px) {
  .header__links {
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .header__logo {
    margin: 0 auto;
  }
}
.intro {
  overflow: hidden;
  position: relative;
}
@media (min-width: 1440px) {
  .intro {
    padding-top: 9.0277777778vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro {
    padding-top: calc(65px + 65 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro {
    padding-top: calc(50px + 15 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro {
    padding-top: 50px;
  }
}
@media (min-width: 1440px) {
  .intro {
    padding-left: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro {
    padding-left: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro {
    padding-left: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro {
    padding-left: 15px;
  }
}
@media (min-width: 1440px) {
  .intro {
    padding-right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro {
    padding-right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro {
    padding-right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro {
    padding-right: 15px;
  }
}
@media (min-width: 1440px) {
  .intro {
    padding-bottom: 9.0277777778vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro {
    padding-bottom: calc(65px + 65 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro {
    padding-bottom: calc(50px + 15 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro {
    padding-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .intro {
    max-height: 44.4444444444vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro {
    max-height: calc(640px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro {
    max-height: calc(328px + 312 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro {
    max-height: 328px;
  }
}
.intro__title {
  color: #4C5866;
}
@media (min-width: 1440px) {
  .intro__title {
    margin-bottom: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__title {
    margin-bottom: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__title {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__title {
    margin-bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .intro__title {
    font-size: 4.1666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__title {
    font-size: calc(50px + 10 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__title {
    font-size: calc(30px + 20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__title {
    font-size: 30px;
  }
}
.intro__description {
  line-height: 150%;
}
@media (min-width: 1440px) {
  .intro__description {
    margin-bottom: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__description {
    margin-bottom: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__description {
    margin-bottom: calc(15px + 15 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__description {
    margin-bottom: 15px;
  }
}
@media (min-width: 1440px) {
  .intro__description {
    width: 30.9027777778vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__description {
    width: calc(390px + 55 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__description {
    width: calc(170px + 220 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__description {
    width: 170px;
  }
}
@media (min-width: 1440px) {
  .intro__description {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__description {
    font-size: calc(18px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__description {
    font-size: calc(14px + 4 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__description {
    font-size: 14px;
  }
}
.intro__button {
  border: 1px solid #7875FE;
  background-color: initial;
  color: #7875FE;
}
@media (min-width: 1440px) {
  .intro__button {
    height: 4.8611111111vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__button {
    height: calc(70px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__button {
    height: calc(50px + 20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__button {
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .intro__button {
    width: 17.7083333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__button {
    width: calc(255px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__button {
    width: calc(144px + 111 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__button {
    width: 144px;
  }
}
@media (min-width: 1440px) {
  .intro__button {
    font-size: 1.3888888889vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__button {
    font-size: calc(20px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__button {
    font-size: calc(18px + 2 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__button {
    font-size: 18px;
  }
}
.intro__button:hover {
  background: #7875FE;
  color: #FFF;
}
.intro__button:focus {
  background: #DAD9FB;
  color: #7875FE;
}
.intro__button:active {
  background: #4946B4;
  color: #FFF;
}
.intro__img {
  position: absolute;
}
@media (min-width: 1440px) {
  .intro__img {
    right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__img {
    right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__img {
    right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__img {
    right: 15px;
  }
}
@media (min-width: 1440px) {
  .intro__img {
    top: 4.1666666667vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__img {
    top: calc(60px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__img {
    top: calc(20px + 40 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__img {
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .intro__img {
    width: 37.5vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .intro__img {
    width: calc(270px + 270 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .intro__img {
    width: calc(130px + 140 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .intro__img {
    width: 130px;
  }
}
.intro__img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (max-width: 575px) {
  .intro__description {
    width: 100%;
  }
  .intro__img {
    display: none;
  }
}
.result {
  background: #EBEBEB;
}
@media (min-width: 1440px) {
  .result {
    padding-top: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result {
    padding-top: calc(60px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result {
    padding-top: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .result {
    padding-left: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result {
    padding-left: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result {
    padding-left: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result {
    padding-left: 15px;
  }
}
@media (min-width: 1440px) {
  .result {
    padding-right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result {
    padding-right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result {
    padding-right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result {
    padding-right: 15px;
  }
}
@media (min-width: 1440px) {
  .result {
    padding-bottom: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result {
    padding-bottom: calc(60px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result {
    padding-bottom: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result {
    padding-bottom: 60px;
  }
}
.result__row-items {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .result__row-items {
    margin-bottom: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__row-items {
    margin-bottom: calc(40px + 50 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__row-items {
    margin-bottom: calc(60px + -20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__row-items {
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .result__row-items {
    gap: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__row-items {
    gap: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__row-items {
    gap: calc(20px + 10 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__row-items {
    gap: 20px;
  }
}
.result__item {
  display: flex;
  align-items: center;
  border-top: 1px solid #C0C0C0;
}
@media (min-width: 1440px) {
  .result__item {
    padding-top: 1.3888888889vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__item {
    padding-top: calc(20px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__item {
    padding-top: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__item {
    padding-top: 20px;
  }
}
@media (min-width: 1440px) {
  .result__item {
    gap: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__item {
    gap: calc(0px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__item {
    gap: calc(30px + -30 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__item {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .result__item-img img {
    width: 11.1111111111vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__item-img img {
    width: calc(150px + 10 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__item-img img {
    width: calc(130px + 20 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__item-img img {
    width: 130px;
  }
}
.result__item-name {
  line-height: 150%;
  color: #666;
}
@media (min-width: 1440px) {
  .result__item-name {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__item-name {
    font-size: calc(18px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__item-name {
    font-size: calc(16px + 2 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__item-name {
    font-size: 16px;
  }
}
.result__item-label {
  line-height: 150%;
}
@media (min-width: 1440px) {
  .result__item-label {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__item-label {
    font-size: calc(18px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__item-label {
    font-size: calc(16px + 2 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__item-label {
    font-size: 16px;
  }
}
.result__main {
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .result__main {
    gap: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__main {
    gap: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__main {
    gap: calc(20px + 10 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__main {
    gap: 20px;
  }
}
.result__main-img {
  align-self: flex-start;
}
.result__main-img img {
  height: auto;
}
@media (min-width: 1440px) {
  .result__main-img img {
    width: 50.6944444444vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__main-img img {
    width: calc(330px + 400 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__main-img img {
    width: calc(290px + 40 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__main-img img {
    width: 290px;
  }
}
.result__main-name {
  color: #666;
}
@media (min-width: 1440px) {
  .result__main-name {
    margin-bottom: 1.3888888889vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__main-name {
    margin-bottom: calc(20px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__main-name {
    margin-bottom: calc(14px + 6 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__main-name {
    margin-bottom: 14px;
  }
}
@media (min-width: 1440px) {
  .result__main-name {
    font-size: 2.7777777778vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__main-name {
    font-size: calc(30px + 10 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__main-name {
    font-size: calc(24px + 6 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__main-name {
    font-size: 24px;
  }
}
.result__main-description {
  line-height: 170%;
}
@media (min-width: 1440px) {
  .result__main-description {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .result__main-description {
    font-size: calc(18px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .result__main-description {
    font-size: calc(16px + 2 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .result__main-description {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .result__item {
    align-items: self-start;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .result__main {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .result__row-items {
    flex-direction: column;
  }
  .result__item {
    flex-direction: row;
    align-items: center;
  }
}
.material__content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(1, max-content);
}
@media (min-width: 1440px) {
  .material__content {
    padding-top: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__content {
    padding-top: calc(60px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__content {
    padding-top: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__content {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .material__content {
    padding-left: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__content {
    padding-left: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__content {
    padding-left: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__content {
    padding-left: 15px;
  }
}
@media (min-width: 1440px) {
  .material__content {
    padding-right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__content {
    padding-right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__content {
    padding-right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__content {
    padding-right: 15px;
  }
}
@media (min-width: 1440px) {
  .material__content {
    padding-bottom: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__content {
    padding-bottom: calc(60px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__content {
    padding-bottom: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__content {
    padding-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .material__content {
    gap: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__content {
    gap: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__content {
    gap: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__content {
    gap: 30px;
  }
}
.material__img {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.material__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.material__text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.material__name {
  margin-bottom: 8px;
  color: #666666;
}
@media (min-width: 1440px) {
  .material__name {
    font-size: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__name {
    font-size: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__name {
    font-size: calc(24px + 6 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__name {
    font-size: 24px;
  }
}
.material__type {
  margin-bottom: 8px;
  color: #B5B5BD;
}
@media (min-width: 1440px) {
  .material__type {
    font-size: 0.9722222222vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__type {
    font-size: calc(14px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__type {
    font-size: calc(14px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__type {
    font-size: 14px;
  }
}
.material__description {
  line-height: 170%;
}
@media (min-width: 1440px) {
  .material__description {
    margin-bottom: 1.3888888889vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__description {
    margin-bottom: calc(10px + 10 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__description {
    margin-bottom: calc(10px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__description {
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .material__description {
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__description {
    font-size: calc(18px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__description {
    font-size: calc(16px + 2 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__description {
    font-size: 16px;
  }
}
.material__more {
  margin-top: auto;
  color: #7875FE;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (min-width: 1440px) {
  .material__more {
    font-size: 1.3888888889vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__more {
    font-size: calc(20px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__more {
    font-size: calc(20px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__more {
    font-size: 20px;
  }
}
.material__more::after {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url(../public/img/Material/arrow.svg) center/100% no-repeat;
}
.material__icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, max-content);
  width: 100%;
  background: #EBEBEB;
}
@media (min-width: 1440px) {
  .material__icons {
    padding-top: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__icons {
    padding-top: calc(60px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__icons {
    padding-top: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__icons {
    padding-top: 60px;
  }
}
@media (min-width: 1440px) {
  .material__icons {
    padding-left: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__icons {
    padding-left: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__icons {
    padding-left: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__icons {
    padding-left: 15px;
  }
}
@media (min-width: 1440px) {
  .material__icons {
    padding-right: 11.4583333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__icons {
    padding-right: calc(40px + 125 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__icons {
    padding-right: calc(15px + 25 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__icons {
    padding-right: 15px;
  }
}
@media (min-width: 1440px) {
  .material__icons {
    padding-bottom: 6.25vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__icons {
    padding-bottom: calc(60px + 30 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__icons {
    padding-bottom: calc(60px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__icons {
    padding-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .material__icons {
    gap: 2.0833333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__icons {
    gap: calc(30px + 0 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__icons {
    gap: calc(30px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__icons {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .material__icons-item {
    width: 17.7083333333vw;
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .material__icons-item {
    width: calc(150px + 105 * (100vw - 768px) / (1440 - 768));
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .material__icons-item {
    width: calc(150px + 0 * (100vw - 320px) / (768 - 320));
  }
}
@media (max-width: 320px) {
  .material__icons-item {
    width: 150px;
  }
}
.material__icons-item img {
  width: 100%;
}

@media (max-width: 1279px) {
  .material__content {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, max-content);
  }
  .material__item {
    flex-direction: column !important;
  }
  .material__img {
    justify-content: start;
  }
}
@media (max-width: 767px) {
  .material__icons {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, max-content);
  }
  .material__icons-item {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .material__content {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, max-content);
  }
  .material__text {
    height: auto;
  }
  .material__icons {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4, max-content);
  }
}
@font-face {
  font-family: "R4";
  src: url("../public/fonts/Roboto-Regular.eot") format("embedded-opentype"), url("../public/fonts/Roboto-Regular.woff2") format("woff2"), url("../public/fonts/Roboto-Regular.woff") format("woff"), url("../public/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "R5";
  src: url("../public/fonts/Roboto-Medium.eot") format("embedded-opentype"), url("../public/fonts/Roboto-Medium.woff2") format("woff2"), url("../public/fonts/Roboto-Medium.woff") format("woff"), url("../public/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

a, p, h1, h2, h3, h4, h5, h6, button {
  font-family: "R4";
  font-size: 18px;
  color: #85859B;
}/*# sourceMappingURL=style.css.map */