.material {
    &__content {
        margin: 0 auto;
        @include adap(padding-top, 90, 60);
        @include adap(padding-left, 165, 40, 15);
        @include adap(padding-right, 165, 40, 15);
        @include adap(padding-bottom, 90, 60);
        display: grid;
        grid-template-columns: repeat(4, 23%); 
        grid-template-rows: repeat(1, max-content);
        @include adap(gap, 30);
    }

    &__img {
        @include adap(margin-bottom, 20);
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        img {
            max-width: 100%;
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__name {
        @include adap(margin-bottom, 8);
        @include adap(font-size, 30, 30, 24);
        color: #666666;
    }
    &__type {
        @include adap(margin-bottom, 8);
        @include adap(font-size, 14);
        color: #B5B5BD;
    }
    &__description {
        @include adap(margin-bottom, 20, 10);
        @include adap(font-size, 18, 18, 16);
        line-height: 170%;
    }
    &__more {
        margin-top: auto;
        @include adap(font-size, 20);
        width: max-content;
        color: #7875FE;
        display: flex;
        align-items: center;
        @include adap(gap, 5);
        cursor: pointer;
        &::after {
            content: "";
            display: inline-block;
            @include adap(height, 20);
            @include adap(width, 20);
            background: url(../public/img/Material/arrow.svg) center/ 100% no-repeat;
        }
        &:focus {
            color: #7875FE;
            background-color: #DAD9FB;
        }
        &:hover {
            color: #4946B4;
            &::after {
                background: url(../public/img/Material/arrow-h-act.svg) center/ 100% no-repeat;
            }
        }
        &:active {
            color: #4946B4;
            background-color: initial;
            &::after {
                background: url(../public/img/Material/arrow-h-act.svg) center/ 100% no-repeat;
            }
        }
    }
    &__icons {
        @include adap(padding-top, 90, 60);
        @include adap(padding-left, 165, 40, 15);
        @include adap(padding-right, 165, 40, 15);
        @include adap(padding-bottom, 90, 60);
        display: grid;
        grid-template-columns: repeat(4, auto); 
        grid-template-rows: repeat(1, max-content);
        @include adap(gap, 30);
        width: 100%;
        background: #EBEBEB;
    }
    &__icons-item {
        @include adap(width, 255, 150);
        transition: all 0.1s linear;
        cursor: pointer;
        &:hover {
           transform: scale(0.9); 
           transition: all 0.1s linear;
        }
        img {
            width: 100%;
        }
    }
}


@media (max-width: 1279px) {
    .material {
        &__content {
            grid-template-columns: repeat(2, 48%); 
            grid-template-rows: repeat(2, max-content);
        }
        &__item {
            flex-direction: column !important;

        }
        &__img {
            justify-content: start;
        }
    }
    
}

@media (max-width: 767px) {
    .material {
        &__icons {
            grid-template-columns: repeat(2, auto); 
            grid-template-rows: repeat(2, max-content);
        }
        &__icons-item {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .material {
        &__content {
            grid-template-columns: repeat(1, 100%); 
            grid-template-rows: repeat(4, max-content);
        }
        &__text {
            height: auto;
        }
        &__icons {
            grid-template-columns: repeat(1, 100%); 
            grid-template-rows: repeat(4, max-content);
        }
    }
}